<!-- <h6>events <hr></h6> -->
<div class="row">
  <br>
  <br>
  <div class="col-md-4">
    <div class="thumbnail">

      <h3>{{title}}</h3>
      <p><a href="http://mail.ru">Donec id elit non mi porta gravida</a> at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">

      <h3>{{title}}</h3>
      <p><a href="http://mail.ru">Donec id elit non mi porta gravida</a> at eget metus. Fusce dapibus, tellus ac cdursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <h3>{{title}}</h3>
      <p><a href="http://mail.ru">Donec id elit non mi porta gravida</a> at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <!-- <h6>blog <hr></h6> -->
    <div class="panel list-group shadow-z-1">
      <div class="list-group-item">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt amet in ipsam deleniti, soluta totam. Incidunt quis asperiores esse ipsum, voluptatibus est rerum ut in ullam reprehenderit animi distinctio qui ea veritatis, eligendi culpa velit consequuntur beatae explicabo magnam temporibus. At quod aspernatur perspiciatis harum sint. Rem nihil beatae dolore.</div>
      </div>
      <div class="list-group-item">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, natus?</h1>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nam at suscipit, eos, deleniti reprehenderit officiis odio eligendi voluptatibus repellat autem expedita perferendis repudiandae alias sint laboriosam. Deserunt officiis vel, numquam qui maxime perspiciatis a tenetur! Voluptatem fuga repellendus harum deleniti, qui adipisci animi dolores veritatis, officia, quod sapiente sequi.</div>
      </div>
      <div class="list-group-item">
        <h1>Sint ex reprehenderit provident molestias exercitationem distinctio cupiditate, culpa, magnam!</h1>
        <div class="description">Saepe magni animi dolore nemo doloribus facere, reiciendis ipsum obcaecati eius rem sint quas facilis non recusandae, expedita numquam debitis a eveniet ipsa dicta! Dolores, voluptate dolore totam, ratione repudiandae quis debitis delectus commodi quaerat eius incidunt cum possimus tempora ullam deserunt, voluptates suscipit minima sequi corporis doloremque soluta? Corrupti.</div>
      </div>
      <div class="list-group-item">
        <h1>Voluptates facere corporis minima id aliquid maxime amet illo, quam?</h1>
        <div class="description">Quaerat nihil hic laudantium architecto nesciunt quia est, sit doloremque, dicta. Eos quo ut ex dolor tempore, pariatur amet error labore nihil blanditiis porro nostrum, exercitationem voluptatum quod, expedita ipsa! Tenetur optio doloribus corrupti accusamus molestiae, cumque sit iure, autem esse dolorem accusantium magni assumenda distinctio modi. Quis, assumenda, iusto.</div>
      </div>
      <div class="list-group-item">
        <h1>Pariatur odit fugit beatae provident quas eos impedit, maxime perferendis.</h1>
        <div class="description">Reprehenderit temporibus distinctio facilis consectetur, beatae accusamus quisquam hic. Maxime expedita ratione aliquid eum assumenda dolore quam eligendi, fugit voluptates? Impedit eius temporibus dicta fugit blanditiis repellendus sunt quisquam mollitia esse, quo maxime, nulla necessitatibus deleniti, deserunt perspiciatis quidem sint alias adipisci. Error excepturi sed tempora ipsum unde iure deleniti!</div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <!-- <h6>joinus <hr></h6> -->
    <div class="panel shadow-z-2">
      <div class="panel-heading"><h4>Joint to us</h4></div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo hic autem dolorum error voluptatem odio atque laudantium delectus, quam ratione fugit, nobis odit voluptatum animi doloremque! Ea quasi ipsum culpa iste beatae cum ducimus laudantium nesciunt adipisci laboriosam officiis animi, expedita odio non omnis itaque facere ullam debitis officia similique quidem totam molestiae ipsa. Accusamus minus tempora qui, dolores mollitia.</div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-lg btn-block">Join to US!</button>
      </div>
    </div>

    <!-- <h6>advert <hr></h6> -->
    <p class="text-info">
      advert</p>
  </div>
</div>